PORT=3000
DB_HOST=127.0.0.1
DB_NAME=ecommerce_store
DB_USER=ecommerce_user
DB_PASSWORD=***REMOVED***
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
JWT_SECRET=***REMOVED***
COOKIE_SECRET=***REMOVED***
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000