PORT=3000
DB_HOST=127.0.0.1
DB_NAME=ecommerce_store
DB_PASSWORD=***REMOVED***
DB_USER=ecommerce_user
EMAIL_HOST=
EMAIL_PASS=
EMAIL_PORT=
EMAIL_USER=
JWT_SECRET=***REMOVED***
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000